.figure {
    width: 18%;
    margin: auto;
}
.container {
    width: 100%;
    margin: auto;
    background-color:#eeeeee;
}
.container input[type="text"] {
    width: 18%;
    box-sizing: border-box;
}
.text-align {
    text-align: center;
}
.item-margin {
    display: block;
    margin: 0 auto;
}
.navcolorlight {
    background-color: #99eae2;
}
.navcolormedium {
    background-color: #45d9ca;
}
.navcolordark {
    background-color: #26baab;
}
.divwidth {
    width: 33.23%;
    height: 85px;
    margin-right: 0.1%;
}
.floatleft {
    float: left;
}
p {
    margin-bottom: 0px;
}
.textsize {
    font-size: 12px;
}
ul {
    list-style-type: none;
    text-align: center;
}